#gitignore文件使用规则#
# 1.先过滤后保留


#过滤项
Debug
Release
*.ncb
*.suo
*.user
*.idb
*.exp
*.ilk
*.obj
*.VC.db
*.VC.VC.opendb
.vs
UpgradeLog*.htm
GeneratedFiles
MSVC_Win32_Debug
moc
ipch

#保留文件
!/Utils/EmlUtils/libs
!/Utils/EmlUtils/libs/*
!/Utils/ImageUtils/libs
!/Utils/ImageUtils/libs/*
!/Output
!/Output/Win32
/Output/Win32/*
/Output/Win32/Debug/*
!/Output/Win32/Debug
!/Output/Win32/Debug/ssl
!/Output/Win32/Debug/7z.*
/Output/Win32/Release/*
!/Output/Win32/Release
!/Output/Win32/Release/ssl
!/Output/Win32/Release/7z.*

